<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>com.renusush.Controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterController</servlet-name>
  	<display-name>RegisterController</display-name>
  	<description></description>
  	<servlet-class>com.renusush.Controller.RegisterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookInfo</servlet-name>
  	<display-name>BookInfo</display-name>
  	<description></description>
  	<servlet-class>com.renusush.Controller.BookInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderController</servlet-name>
  	<display-name>OrderController</display-name>
  	<description></description>
  	<servlet-class>com.renusush.Controller.OrderController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewOrderController</servlet-name>
  	<display-name>ViewOrderController</display-name>
  	<description></description>
  	<servlet-class>com.renusush.Controller.ViewOrderController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewServlet</servlet-name>
  	<display-name>ViewServlet</display-name>
  	<description></description>
  	<servlet-class>com.renusush.Controller.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterController</servlet-name>
  	<url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookInfo</servlet-name>
  	<url-pattern>/BookInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderController</servlet-name>
  	<url-pattern>/OrderController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewOrderController</servlet-name>
  	<url-pattern>/ViewOrderController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewServlet</servlet-name>
  	<url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
</web-app>
